<body>
<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="menu">
        <mat-icon class="menuitem"> person_pin</mat-icon>Bienvenid@ {{nombre}}
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/menu-poweruser']" class="menuitem">home</mat-icon>Inicio
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/registrar-poweruser']" class="menuitem">playlist_add</mat-icon>Crear Activo Fijo
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/lista-poweruser']" class="menuitem">format_list_bulleted</mat-icon>Lista de Activos Fijos
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/movimientos-poweruser']" class="menuitem">timeline</mat-icon>Movimientos en Activos Fijos
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/historialdepre-poweruser']" class="menuitem">playlist_add_check</mat-icon>Historial de Depreciaciones
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/registrar-usuario']" class="menuitem">person_add</mat-icon>Registrar Usuario
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/listade-usuarios']" class="menuitem"> list_alt</mat-icon>Lista de Usuarios
      </div>
      <br>
      <div class="menu">
        <mat-icon (click)="borrarls()" [routerLink]="['']" class="menuitem">exit_to_app</mat-icon>Cerrar Sesión
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="icono">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <h2 class="empresa">{{nempresa}}</h2>
        <img class="imagen" src="{{logo}}">
      </div>
      <div class="esn-part-text">
        <h1>Bienvenido al Sistema de Activos Fijos</h1>
        <p>Administrando tus activos de forma eficiente y profesional.</p>
      </div>

    </div>

  </mat-drawer-container>
</div>

</body>
