.example-container {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
  background-size: cover;
}
.example-sidenav {
  background-color: black;
  padding: 20px;
}
.menu{
  display: flex;
  color:white;
}
.menuitem{
  margin-right: 10px;
  color:white;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.part{
  display:flex;
}
.part-icono{
  margin-top: 10px;
  color: white;
  margin-left: 10px;
}
.part-text{
  display: flex;
}
.part-text-empresa{
  margin-top: 6px;
  margin-left:10px;
  font-size: 24px;
  color: white;
}
.part-text-imagen{
  margin-top: 6px;
  width: 30px;
  height: 30px;
  margin-left:10px;
}
.part2{
  margin-top: 10%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part2-title{
  font-size: 48px;
  color: white;
}
.part2-text{
  font-size: 24px;
  color: white;

}













