<div class="part">
<h1 mat-dialog-title style="color:#FFD384">Mas Informacion sobre el Activo Fijo</h1>
<div mat-dialog-content>
  <h2>Descripcion:</h2>
  <p>{{data.descripcion}}</p>
  <h2>Marca:</h2>
  <p>{{data.marca}}</p>
  <h2>Encargado:</h2>
  <p>{{data.personal}}</p>
  <h2>Estado:</h2>
  <p>{{data.estado}}</p>
  <h2>Codicion:</h2>
  <p>{{data.condicion}}</p>
  <h2>Ubicacion:</h2>
  <p>Calle: {{data.calle}}</p>
  <p>Avenida: {{data.avenida}}</p>
  <p>Bloque: {{data.bloque}}</p>
  <p>Ciudad: {{data.ciudad}}</p>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style=" background-color: #FFD384; color: black; margin-top: 2%;">Cerrar</button>
</div>
</div>
