<body>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="menu">
      <mat-icon class="menuitem"> person_pin</mat-icon>Bienvenid@ {{nombre}}
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/menu-poweruser']" class="menuitem">home</mat-icon>Inicio
    </div>
    <br>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/registrar-usuario']" class="menuitem">person_add</mat-icon>Registrar Usuario
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/listade-usuarios']" class="menuitem"> list_alt</mat-icon>Lista de Usuarios
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/cc-poweruser']" class="menuitem">lock</mat-icon>Cambiar contraseña
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/logsu-poweruser']" class="menuitem">featured_play_list</mat-icon>Logs de Usuario
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/logapp-poweruser']" class="menuitem">featured_play_list</mat-icon>Logs de Aplicacion
    </div>
    <br>
    <div class="menu">
      <mat-icon [routerLink]="['/riesgos-poweruser']" class="menuitem">table_chart</mat-icon>Evaluación de Riesgos
    </div>
    <br>
    <div class="menu">
      <mat-icon (click)="borrarls()" [routerLink]="['']" class="menuitem">exit_to_app</mat-icon>Cerrar Sesión
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="icono">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </div>
       <h1>Registrar Usuario</h1>
      <div class="formulario">
      <form class="formulario-form"  [formGroup]="nuevoUsuarioForm">

        <h2>Datos Personales:</h2>
        <div class="form-row">
          <mat-form-field class="col">
            <mat-label>Nombre Completo:</mat-label>
            <input formControlName="nombre" matInput>
            <mat-error *ngIf="nuevoUsuarioForm.get('nombre')?.hasError('required')">
              El nombre es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Correo Electronico:</mat-label>
            <input formControlName="correo" matInput>
            <mat-error *ngIf="nuevoUsuarioForm.get('correo')?.hasError('required')">
              La correo es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Usuario:</mat-label>
            <input formControlName="username" matInput>
            <mat-error *ngIf="nuevoUsuarioForm.get('username')?.hasError('required')">
              El usuario es requerido.
            </mat-error>
          </mat-form-field>

        </div>
        <div class="form-row">
          <div class="contrasena">
            <mat-form-field class="contrasena-col">
              <mat-label>Contraseña:</mat-label>
              <input matInput type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password" required>
              <button mat-icon-button matSuffix style="color: black" (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="nuevoUsuarioForm.get('password')?.hasError('required')">
                La contraseña es requerida.
              </mat-error>
              <mat-error *ngIf="nuevoUsuarioForm.get('password')?.hasError('passwordStrength')">
                La contraseña no cumple con los requisitos mínimos.
              </mat-error>
            </mat-form-field>
            <div class="password-criteria">
              <mat-progress-bar mode="determinate" [value]="getPasswordStrength()"></mat-progress-bar>
              <ul>
                <li [class.valid]="passwordCriteria.minLength">Mínimo 12 caracteres</li>
                <li [class.valid]="passwordCriteria.hasUpperCase">Al menos una letra mayúscula</li>
                <li [class.valid]="passwordCriteria.hasNumber">Al menos un número</li>
                <li [class.valid]="passwordCriteria.hasSpecialChar">Al menos un carácter especial</li>
                <li [class.valid]="passwordCriteria.isNotTrivial">No debe ser trivial (e.g., Nombre.apellido123)</li>
              </ul>
            </div>
          </div>

          <mat-form-field class="col">
            <mat-label>Confirme su contraseña:</mat-label>
            <input matInput type="{{ hidePassword2 ? 'password' : 'text' }}" formControlName="passwordConfirmation" required>
            <button mat-icon-button matSuffix style="color: black" (click)="togglePasswordVisibility2()">
              <mat-icon>{{ hidePassword2 ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="nuevoUsuarioForm.get('passwordConfirmation')?.hasError('required')">
              Por favor, repita la contraseña.
            </mat-error>
            <mat-error *ngIf="nuevoUsuarioForm.hasError('passwordMismatch')">
              Las contraseñas no coinciden.
            </mat-error>

          </mat-form-field>
        </div>
        <h2>Información de Empresa:</h2>
        <div class="form-row">

          <mat-form-field class="col">
            <mat-label>Rol en la empresa:</mat-label>
            <input type="text" aria-label="Rol en la Empresa" matInput [matAutocomplete]="auto" formControlName="myControl">
            <mat-error *ngIf="nuevoUsuarioForm.get('myControl')?.hasError('required')">
              El rol es requerido.
            </mat-error>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div class="boton">
          <button type="submit" style=" background-color: #FFD384; color: black; margin-top: 2%;" mat-button (click)="guardarDatos()" >Guardar</button>
        </div>
      </form>

      </div>
    </div>



</mat-drawer-container>
</body>
