
.example-container {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
  background-size: cover;
}
.example-sidenav {
  background-color: black;
  padding: 20px;
}
.menu{
  display: flex;
  color:white;
}
.menuitem{
  margin-right: 10px;
  color:white;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.icono{
  margin-top: 10px;
  color: white;
  margin-left: 10px;

}
h1{
  margin-top: 2%;
  text-align: center;
  /*font-family: Arial, sans-serif;*/
  font-size: 48px;
  color: white;
}
h2{
  color:#FFD384;
}
.formulario{
  padding: 4% 6%;

}
.formulario-form{
  padding: 2% 2%;
  background: linear-gradient(to bottom, #17141d, #2c2933);
}
.form-row {
  display: flex;
  gap:2%;

}
.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}


