.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}
.tabla{
  margin-left: 50px;
  margin-right: 60px;
}
.titulo{
  text-align: center;
}
h1{
  font-family: 'NiniFont', sans-serif;
  font-size: 50px;
  color: white;
}
h2{
  font-family: 'NiniFont', sans-serif;
  font-size: 25px;

}
.filtro-container {
  margin-left: 100px;
  display: flex; /* Establece el contenedor como flexbox */
}

.filtro {
  margin-top: 50px;
  margin-right: 20px; /* Espacio entre cada combo box */
  display: inline-block; /* Muestra los combo boxes en línea */
}

body{
  background: linear-gradient(to bottom, #9A1663, #E0144C, #FF5858);
  background-size: cover;
}
.todo{
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  border-radius: 25px;
  border-color: black;
  border-width: 6px;
  border-style: solid;

}
.example-sidenav {
  padding: 20px;
}

.icono{
  color: white;
  display: flex;
  margin-left: 10px;
}
.menuitem{
  margin-right: 10px;
}
.menu{
  display: flex;
  font-family: Arial, sans-serif;
  color:black;
}

