<div class="panel" xmlns:cursor="http://www.w3.org/1999/xhtml">
  <h2 class="title-panel" >Registro de Activos Fijos</h2>

<div class="search-and-select">
  <mat-form-field class="search-bar">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Escribe aquí">
    <button mat-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="select-field">
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <table class="table" >
    <thead class="text-center align-middle">
    <tr class="tr-colum-indicadores">
      <th class="th-ind-num">
        Nro
      </th>
      <th class="th-ind-nombre">
        Nombre Activo Fijo

      </th>
      <th class="th-ind-valor">
        Valor

      </th>
      <th class="th-ind-fecha">
        Fecha Compra

      </th>
      <th class="th-ind-ubicacion">
        Ubicación Compra

      </th>
      <th class="th-ind-ubicacion">
        Ubicación Actual
      </th>

      <th class="th-ind-porcentaje">
        Depreciación

      </th>

      <th class="th-ind">
        Acciones
      </th>

    </tr>
    </thead>

  </table>
</div>


