/*this is for default config */
*{

  box-sizing: border-box;
  font-size: 62.5%;
}
:host {
  max-height: 80vh;
  overflow-y: auto;
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
}

/* principal squere */
.panel {
  margin-top: 20px;
  border: 1px solid #c003b0;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin-left: 3%;
  margin-right: 3%;

}

.table{
  margin-top: 20px;
  border-radius: 20px ;
  box-shadow: 0 2px 5px rgba(133, 3, 3, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
}

.panel .title-panel {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  color: #399949;
}

.th-ind-num{
  width: 8%;
  background-color: #004070;
  font-size: 1.2rem;
  color: #ccc;

}

.tr-colum-indicadores .th-ind, .th-ind-fecha, .th-ind-porcentaje, .th-ind-valor, .th-ind-nombre, .th-ind-ubicacion{
  width:20%;
  background-color: #ffcc00;
  border:black;
  border-radius: 1px;
  font-size: 1.2rem;
  /*linea de las tablas*/
}
.th-ind{
  font-size: 1.2rem;
  /*linea de las tablas*/
}
.th-ind-fecha{
  font-size: 1.2rem;
  width: 10%;
  /*linea de las tablas*/
}
.th-ind-nombre{
  font-size: 1.2rem;
  width: 20%;
  /*linea de las tablas*/
}
.th-ind-valor{
  font-size: 1.2rem;
  width: 10%;
  /*linea de las tablas*/
}
.th-ind-ubicacion{
  font-size: 1.2rem;
  width: 15%;
  /*linea de las tablas*/
}
.th-ind-porcentaje{
  font-size: 1.2rem;
  width: 8%;
  /*linea de las tablas*/
}

.tr-cont-num{
  text-align: center;
  padding-top: 2%;
  font-size: 1.5rem;
  background-color:#004070;
  color: #ccc;
  width: 30px;
  height: 30px;
  line-height: 60px;
  margin-left: 25%;
  border-radius: 50%;
  display: inline;
  margin-top:20%;



  /*linea de las tablas*/
}
.tr-cont{
  background-color: #f5f5f5;
  border-radius: 13%;
  color: black;
  font-size: 1.2rem;
  /*linea de las tablas*/
  padding-top: 3%;
}


.btn-view-Detail{
  background-color: #399949;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
}


.btn-view-Detail:hover {
  background-color: #004070;
  opacity: 85%;
}

.date-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date-filter mat-form-field {
  margin-right: 10px;
}
