<div class="panel" xmlns:cursor="http://www.w3.org/1999/xhtml">
  <h2 class="title-panel" >Registro de Activos Fijos</h2>

  <table class="table" >
    <thead class="text-center align-middle">
    <tr class="tr-colum-indicadores">
      <th class="th-ind-num">
        Nro
      </th>
      <th class="th-ind-nombre">
        Nombre Activo Fijo

      </th>
      <th class="th-ind-valor">
        Valor

      </th>
      <th class="th-ind-fecha">
        Fecha Compra

      </th>
      <th class="th-ind-ubicacion">
        Ubicación Compra

      </th>
      <th class="th-ind-ubicacion">
        Ubicación Actual
      </th>

      <th class="th-ind-porcentaje">
        Depreciación

      </th>

      <th class="th-ind">
        Acciones
      </th>

    </tr>
    </thead>

  </table>


</div>
