.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: grey;
}

.rojo {
  background-color: red;
}

.naranja {
  background-color: orange;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: green;
}
