
.example-container {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
  background-size: cover;
}

.example-sidenav {
  background-color: black;
  padding: 20px;
}
.menu{
  display: flex;
  color:white;
}
.menuitem{
  margin-right: 10px;
  color:white;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.icono{
  margin-top: 10px;
  color: white;
  margin-left: 10px;

}
.todoelform{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  /*font-family: Arial, sans-serif;*/
  font-size: 24px;
}
h2{
  font-size: 16px;
}
.formulario{
  width: 60%;
  padding: 2% 2%;
  background: white;
  border-radius: 25px;

}
.form-row {
  display: flex;
  gap:2%;

}




