<body>
<br>
<br>
<div class="titulo">
  <h1>LISTA DE ACTIVOS FIJOS</h1>
</div>
<div class="todo">
<div class="filtro-container">
<div class="filtro">
  <h2>Tipo de Activo Fijo:</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="filtro">
  <h2>Marca de Activo Fijo:</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="filtro">
  <h2>Estado de Activo Fijo:</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="filtro">
  <h2>Mes:</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
</div>
<div class="tabla">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="Nro">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Valor">
    <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="FechaCompra">
    <mat-header-cell *matHeaderCellDef> Fecha Compra </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fechaCompra}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="UbicacionCompra">
    <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ubicacionId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="UbicacionActual">
    <mat-header-cell *matHeaderCellDef> Ubicacion Actual </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.condicionId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">Boton  </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
  <br>
  <br>
</div>
</body>
