.example-container {
  height: 100vh;
  background: linear-gradient(to bottom, #9A1663, #E0144C, #FF5858);
}
.example-sidenav {
  padding: 20px;
}
.menuitem{
  margin-right: 10px;
}
.menu{
  display: flex;
  font-family: Arial, sans-serif;
  color:black;
}
.example-sidenav-content {
  height: 100%;
}
.icono{
  color: white;
  display: flex;
  margin-left: 10px;

}
.todo{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  border-color: black;
  border-width: 6px;
  border-style: solid;
  margin-right: 200px;
  margin-left: 200px;
}
h1{
  text-align: center;

}
.tabla{
  margin-top: 20px;
  margin-bottom: 40px;
  width: 780px;
}
