<body>
<mat-drawer-container class="example-container" autosize>
  <div class="example-sidenav-content">
    <div class="todoelform">
      <form class="formulario" [formGroup]="activoForm">
        <h1>Actualizar Usuario</h1>
        <h2>Datos Iniciales:</h2>
        <div class="form-row">
          <mat-form-field class="col">
            <mat-label>Nombre Completo:</mat-label>
            <input formControlName="nombre" matInput>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Nombre de usuario:</mat-label>
            <input formControlName="username" matInput>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Contraseña:</mat-label>
            <input formControlName="password" matInput>
          </mat-form-field>
        </div>
        <h2>Información:</h2>
        <div class="form-row">

          <mat-form-field class="col">
            <mat-label>Rol en la empresa:</mat-label>
            <input type="text" aria-label="Rol en la Empresa" matInput [matAutocomplete]="auto" formControlName="myControl">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <button type="submit" class="boton-estilo" style=" background-color: #F39F5A; color: white; border-color: white" mat-button (click)="actualizarUsuario()" class="button">Actualizar</button>
        <button type="submit" class="boton-estilo" style=" background-color: #511845; color: white; border-color: white" mat-button (click)="regresar()" class="button">Regresar</button>
      </form>
    </div>
    <div class="mensaje-actualizacion" *ngIf="updateMessage">
      {{ updateMessage }}
    </div>

  </div>

</mat-drawer-container>
</body>
