<body>
<h1>Actualizar Usuario</h1>
<div class="formulario">
      <form class="formulario-form" [formGroup]="activoForm">
        <h2>Datos Personales:</h2>
        <div class="form-row">
          <mat-form-field class="col">
            <mat-label>Nombre Completo:</mat-label>
            <input formControlName="nombre" matInput>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Nombre de usuario:</mat-label>
            <input formControlName="username" matInput>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Contraseña:</mat-label>
            <input formControlName="password" matInput>
          </mat-form-field>
        </div>
        <h2>Información de Empresa:</h2>
        <div class="form-row">

          <mat-form-field class="col">
            <mat-label>Rol en la empresa:</mat-label>
            <input type="text" aria-label="Rol en la Empresa" matInput [formControl]="myControl" [matAutocomplete]="auto" formControlName="myControl">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div class="boton">
        <button type="submit" class="boton-estilo" style=" background-color: #FFD384; color: black; margin-top: 2%;" mat-button (click)="actualizarUsuario()" >Actualizar</button>
        <button type="submit" class="boton-estilo" style=" background-color: #940B92; color: black; margin-top: 2%;" mat-button (click)="regresar()" >Regresar</button>
          </div>
      </form>
    </div>
    <div class="mensaje-actualizacion" *ngIf="updateMessage">
      {{ updateMessage }}
    </div>


</body>
