<mat-card>
  <mat-card-title class="mat-card-title mat-card-title-large mat-card-title-center">Registro de Activos Fijos</mat-card-title>
</mat-card>

<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="formulario">
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Nombre Activo Fijo</mat-label>
              <input matInput placeholder="Nombre Activo" formControlName="nombreActivo">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Precio</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0" formControlName="precio">
              <span matTextPrefix>$&nbsp;</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Porcentaje</mat-label>
              <input matInput type="number" class="example-right-align" formControlName="porcentaje">
              <span matTextPrefix>%&nbsp;</span>
              <span matTextSuffix>00</span>
            </mat-form-field>
          </td>
        </tr>
      </table>
    
      <p>
        <mat-form-field>
          <mat-label>Descripción del Activo</mat-label>
          <textarea matInput placeholder="Descripción del activo fijo" formControlName="descripcion"></textarea>
        </mat-form-field>
      </p>

      <table [cellSpacing]="2">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Fecha de compra</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fecha">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Fecha de registro</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="fechaRe">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
      </table>
    
      <table cellspacing="2">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Departamento</mat-label>
              <select matNativeControl required>
                <option value="1">La Paz</option>
                <option value="2">Cochabamba</option>
                <option value="3">SantaCruz</option>
              </select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Calle</mat-label>
              <input matInput placeholder="Calle" formControlName="calle">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Avenida</mat-label>
              <input matInput placeholder="Avenida" formControlName="avenida">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Bloque</mat-label>
              <select matNativeControl required>
                <option value="1b">Bloquea</option>
                <option value="2b">bloqueb</option>
                <option value="3b">bloquec</option>
              </select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>    
  </mat-card-content>
</mat-card>
