<div class="part">
  <h1 mat-dialog-title>Semaforos</h1>
  <div mat-dialog-content>
    <div class="semaforos">
      <div class="semaforo">
        <p>Antes</p>
      <app-traffic-light [valor]="valorTermometro1"></app-traffic-light>
      </div>
      <mat-icon style="width: 60px; height: 60px; text-align: center; margin-top:30%">arrow_forward</mat-icon>
      <div class="semaforo">
        <p>Despues</p>
      <app-traffic-light [valor]="valorTermometro2"></app-traffic-light>
      </div>


    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button mat-button mat-dialog-close  style=" margin-top: 2%;" >Cerrar</button>
  </div>
</div>
