.example-container {
  height: 100vh;
  background: linear-gradient(90deg, #e52e71, #ff8a00);
  background-size: cover;
}
.example-sidenav {
  background-color: black;
  padding: 20px;
}
.menu{
  display: flex;
  color:white;
}
.menuitem{
  margin-right: 10px;
  color:white;
}
.example-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.icono{
  margin-top: 10px;
  color: white;
  margin-left: 10px;

}
.part{
  display: flex;
  flex-direction: column;
  padding: 4% 6%;

}
h1{
  text-align: center;
  color: white;
  font-size: 48px;
  /*font-family: Arial, sans-serif;*/

}

.esc-filter{
  width: 100%;
  display: flex;
}
.boton{
  margin-top: 4%;
  margin-left: 4%;
  color: white;
}
.mat-mdc-form-field {
  /*margin-top: 40px;*/
  margin-top: 4%;
}
.tabla{
  background: linear-gradient(to bottom, #17141d, #3a3650);

}
.tabla-contenido{
  color: white;
}
.tabla-paginacion{
  background-color: #605c77;
  color: white;
}
