<div class="part">
  <div class="form-header">
    <h2>Evaluación de Riesgos</h2>
    <p>Complete los campos a continuación para evaluar los riesgos.</p>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="riskForm">
      <div class="fila">
      <mat-form-field appearance="fill" class="columna">
        <mat-label>Activo de Información</mat-label>
        <input matInput formControlName="ai">
        <mat-error *ngIf="riskForm.get('ai')?.hasError('required')">
          El activo es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill"  class="columna-especial">
        <mat-label>Amenaza/Vulnerabilidad</mat-label>
        <textarea matInput formControlName="av"></textarea>
        <mat-error *ngIf="riskForm.get('av')?.hasError('required')">
          Amenaza/Vulnerabiliada es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="columna">
        <mat-label>Consecuencia</mat-label>
        <input matInput formControlName="consecuencia">
        <mat-error *ngIf="riskForm.get('consecuencia')?.hasError('required')">
          La consecuencia es requerida.
        </mat-error>
      </mat-form-field>
      </div>
      <div class="fila">
      <mat-form-field appearance="fill" class="columna">
        <mat-label>Probabilidad</mat-label>
        <input type="number" matInput formControlName="probabilidad1">
        <mat-error *ngIf="riskForm.get('probabilidad1')?.hasError('required')">
          La probabilidad es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="columna">
        <mat-label>Impacto</mat-label>
        <input type="number" matInput formControlName="impacto1">
        <mat-error *ngIf="riskForm.get('impacto1')?.hasError('required')">
          El impacto es requerido.
        </mat-error>
      </mat-form-field>

        <mat-form-field appearance="fill" class="columna">
          <mat-label>Tratamiento</mat-label>
          <input matInput formControlName="tratamiento">
          <mat-error *ngIf="riskForm.get('tratamiento')?.hasError('required')">
            El tratamiento es requerido.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="fila">
        <p>Riesgo Inherente: {{ riesgoInherente }}</p>
        <p>Nivel de Riesgo: {{ nivelRiesgo }}</p>
      </div>

      <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="close-button">Cerrar</button>
        <mat-icon class="siguiente" (click)="openDialog()">navigate_next</mat-icon>
      </div>
    </form>
  </div>
</div>
