<body>
<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="menu">
        <mat-icon [routerLink]="['']" class="menuitem">home</mat-icon>Inicio
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/registro-activo']" class="menuitem">playlist_add</mat-icon>Crear Activo Fijo
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/lista-activos']" class="menuitem">playlist_add_check</mat-icon>Lista de Activos Fijos
      </div>
      <br>
      <div class="menu">
        <mat-icon [routerLink]="['/movimientos-en-activos']" class="menuitem">timeline</mat-icon>Movimientos en Activos Fijos
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="icono">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </div>
      <h1>Bienvenido al Sistema de Activos Fijos</h1>
      <p>Administrando tus activos de forma eficiente y profesional.</p>
    </div>

  </mat-drawer-container>
</div>

</body>
