<body>
<h1>Actualizar Activo Fijo</h1>
<div class="formulario">
  <form  [formGroup]="activoForm">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel style="background: linear-gradient(to bottom, #17141d, #2c2933); ">
        <mat-expansion-panel-header>
          <mat-panel-title style="color:#FFD384">
            Datos Iniciales:
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-row">
          <mat-form-field>
            <mat-label>Nombre del Activo Fijo:</mat-label>
            <input formControlName="nombre" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Valor:</mat-label>
            <input type="number" formControlName="valor" matInput>
            <mat-hint style="color: white">En Bolivianos</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de Compra:</mat-label>
            <input matInput [matDatepicker]="datepicker">
            <mat-hint style="color: white">DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field >
            <mat-label>Descripcion:</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Tipo de Activo:</mat-label>
            <input type="text" aria-label="Tipo de Activo:" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Marca:</mat-label>
            <input type="text" aria-label="Marca:" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel style="background: linear-gradient(to bottom, #17141d, #2c2933); " >
        <mat-expansion-panel-header>
          <mat-panel-title style="color:#FFD384">
            Datos de Ubicacion:
          </mat-panel-title>
          <mat-panel-description>
            <!--              Type the country name-->
            <!--              <mat-icon>map</mat-icon>-->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-row">
          <mat-form-field>
            <mat-label>Calle:</mat-label>
            <input formControlName="calle" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Avenida:</mat-label>
            <input formControlName="avenida" matInput>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field >
            <mat-label>Bloque:</mat-label>
            <input type="text"
                   aria-label="Bloque:"
                   matInput
                   [formControl]="myControl3"
                   [matAutocomplete]="auto3">
            <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Ciudad:</mat-label>
            <input type="text"
                   aria-label="Ciudad:"
                   matInput
                   [formControl]="myControl4"
                   [matAutocomplete]="auto4">
            <mat-autocomplete autoActiveFirstOption #auto4="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions4 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel style="background: linear-gradient(to bottom, #17141d, #2c2933); ">
        <mat-expansion-panel-header>
          <mat-panel-title style="color:#FFD384">
            Datos Finales:
          </mat-panel-title>
          <mat-panel-description>
            <!--              Inform the date you wish to travel-->
            <!--              <mat-icon>date_range</mat-icon>-->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-row">
          <mat-form-field class="col">
            <mat-label>Personal:</mat-label>
            <input type="text" aria-label="Personal al que pertenece:" matInput [formControl]="myControl5"
                   [matAutocomplete]="auto5">
            <mat-autocomplete autoActiveFirstOption #auto5="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions5 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint style="color: white">Personal al que pertenece</mat-hint>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Estado:</mat-label>
            <input type="text" aria-label="Estado:" matInput [formControl]="myControl6" [matAutocomplete]="auto6">
            <mat-autocomplete autoActiveFirstOption #auto6="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions6 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col">
            <mat-label>Condicion:</mat-label>
            <input type="text" aria-label="Condicion:" matInput [formControl]="myControl7" [matAutocomplete]="auto7">
            <mat-autocomplete autoActiveFirstOption #auto7="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions7 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="boton">
          <button type="submit" style=" background-color: #FFD384; color: black; margin-top: 2%;" mat-button (click)="actualizarActivo()" >Actualizar</button>
          <button type="submit" style=" background-color: #940B92; color: black; margin-top: 2%;" mat-button (click)="regresar()" >Cancelar</button>

        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </form>
</div>

</body>
